<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link href="static/css/menu.css" rel="stylesheet" media="screen">
    <link href="static/css/info.css" rel="stylesheet" media="screen">
</head>
<body>

<nav>
    <img src="static/img/logo.png"  class="imaj"/>

        <ul>
             <li>  <a href="{{ url_for('inicio') }}" >Inicio</a> </li>
             <li> <a href="{{ url_for('info') }}">Info</a>  </li>
             <li> <img  src="static/img/47774.png" > {{ nombre }} <i class="icon ion-md-arrow-dropdown"></i>
                <ul>
                    <li> <a href="{{ url_for('homeusuario') }}">Perfil</a>  </li>
                    <li> <a href="{{ url_for('buscarlocal') }}">Buscar local</a>  </li>
                    <li> <a href="{{ url_for('listadolocal') }}">Listado de local</a>  </li>
                    <li> <a href="{{ url_for('crearlocal') }}">Crear local</a>  </li>
                    <li> <a href="{{ url_for('actualizarusuario') }}">actualizar datos usuario</a>  </li>
                    <li> <a href="{{ url_for('actualizarlocal') }}">actualizar local</a>  </li>
                    <li> <a href="{{ url_for('logout') }}">logout</a>  </li>
                </ul>
            </li>
        </ul>
</nav>

<header class="parr">
    <h1> ¿Cuáles son los principales beneficios de la actividad física? </h1>

    <p>
        La Organización Mundial de la Salud (OMS) describe la actividad física como cualquier movimiento corporal producido por los músculos esqueléticos que exija gasto de energía. La OMS nos explica que la falta de actividad física es el cuarto factor de riesgo de mortalidad a nivel mundial, además de la principal causa de un alto porcentaje de los cánceres de mama y colon, diabetes y algunas cardiopatías.
    </p>

    <div class="img1">
    <img src="static/img/kunf fu.jpg" >
    </div>

<div class="parr2">
    <p>
        En la sociedad contemporánea, los trabajos que exigen una actividad física son cada vez más escasos, por eso el deporte cobra una mayor importancia. Un nivel adecuado de actividad:
    </p>
    <p>
        Reduce el riesgo de hipertensión, cardiopatías coronarias, accidentes cerebrovasculares, diabetes, cáncer de mama y colon, y depresión.
         Ayuda a prevenir problemas de salud de los huesos y mejora la capacidad funcional del cuerpo.
         Es determinante para el gasto energético y, por tanto, ayuda a alcanzar un equilibrio calórico y un peso saludable.
        Los expertos recomiendan realizar 30 minutos de actividad física moderada al día para asegurarse estos beneficios, por lo que es algo que cualquier persona puede practicar. No es necesario practicar deportes de impacto ni de alta intensidad, sino que un largo paseo a buen ritmo (que nos haga sudar un poco y cansarnos) puede ser  suficiente.
    </p>
</div>

    <h2>
        ¿Por qué es importante el deporte?
    </h2>

    <p>
        El ejercicio físico es una excelente forma de pasarlo bien y de conseguir objetivos, como el desarrollo muscular, la pérdida de peso o la reducción de grasa, todos ellos relacionados con un estilo de vida saludable. Además, la actividad física también beneficia la regulación hormonal y el refuerzo del sistema inmunológico y contribuye  a un adecuado descanso y a reducir la fatiga.
    </p>

    <div class="img2">
    <img src="static/img/bandera.jpg" >
    </div>

</header>



</body>
</html>