<html>
<head>
    <title>MyGym</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/login.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h1>Registro de usuarios</h1>
        <div class="fadeIn first">
            <img src="static/img/logo.png" height="120" width="98"/>
        </div>
        <form action="" method="post" autocomplete="off">
            <input type="number"
                   id="num"
                   class="fadeIn second"
                   name="num"
                   placeholder="Elije tu id de usuario"
                   value="{{ request.form.num }}">
            <input type="text"
                   id="login"
                   class="fadeIn second"
                   name="login"
                   placeholder="Nombre de usuario"
                   value="{{ request.form.login }}">
            <input type="text"
                   id="password"
                   class="fadeIn third"
                   name="password"
                   placeholder="contraseña"
                   value="{{ request.form.password }}">
             <input id="email"
                   type="email"
                   class="fadeIn fourth"
                   name="email"
                   placeholder="Tu correo electronico."
                   value="{{request.form.email }}" >
            <input type="submit" class="fadeIn fourth" value="Entrar">
        </form>
        <p><a href="{{ url_for('login') }}">¿Ya tengo Cuenta?</a></p>
          {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
        {% endif %}

        <div id="formFooter">
            <p>bienvenido</p>
        </div>

    </div>
</div>
</body>

</html>
